body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-item {
    padding: 10px;
}

a.button_link {
  color: white;
  text-decoration: none;
}
.active > a.button_link {
  color: black;
  text-decoration: none;
}

a.dropdown-item {
  color: black;
  text-decoration: none;
}

li > a > p {
  margin: 0%;
}
p.active {
  font-weight: bolder;
}

.blue {
  background-color:rgb(16, 30, 158);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo {width: 200px; height:125px}
    #wordart{margin-top: 16vh; height: 300px;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #logo {width: 150px; height:150px}
    #wordart{margin-top: 10vh;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #logo {width: 250px; height:175px}
    #wordart{margin-top: 5vh;}
} 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #logo {width: 250px; height:200px}
    #wordart{margin-top: 0vh;}
} 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    #logo {height: 150px}
    #wordart{margin-top: 0vh;}
    #wordart {height: 650px;}
    
}


